/*Index*/

/*General*/
/*Universal classes, body, headings*/

/*Navbars*/
/*First navbar, second navbar, icons*/

/*Dashboard-Search*/
/*Dashboard bar, search bar*/

/*Main Body*/
/*Body content: Tasks, Recommendations, Analytics, Customers, Img Bar*/

/*Footer*/

/**/
/**/
/**/

/*General*/
/*Universal classes, body, headings*/

body {
	height: 100vh;
	width: 100vw;
	margin: 0 0 0 0;
}

h5 {
	margin: 0 0 0 0;
}

.align-items {
	display: flex;
	align-items: center;
}

.flex-center {
	display: flex;
	justify-content: center;
}

.flex-between {
	display: flex;
	justify-content: space-between;
}

.flex-around {
	display: flex;
	justify-content: space-around;
}

.absolute {
	position: absolute;
}

.img-auto {
	width: 90%;
	height: auto;
	margin: 0 auto;
}

.auto-margin {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.no-margin {
	margin: 0 0 0 0 !important;
}

.no-padding {
	padding: 0 0 0 0 !important;
}

.reflect {
	transform: rotate(180deg);
}

.icon-links {
	height: 22px;
	width: 22px;
}

.myriad {
	font-family: myriad-pro, sans-serif;
}

.blue-text {
	color: #2498f4;
}

.white-text {
	color: white;
}

.black-text {
	color: black;
}

.grey-text {
	color: #777777;
}

a.no-underline:link {
	text-decoration: none;
}
/*End General*/

/*Navbars*/

#nav1 {
	background-color: #208de4;
	height: 44px;
}

#nav2 {
	height: 109px;
	background-color: #134670;
	background-image: url(../img/background/bitmap.png),
		url(../img/background/pattern-fill.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2%;
}

#fade-left {
	position: absolute;
	height: 109px;
	left: 0px;
}

#fade-right {
	position: absolute;
	height: 109px;
	right: 0px;
}

.icon-pos {
	width: 100%;
	height: 50px;
	position: relative;
	top: -35%;
}

/*Nav icon hover states*/

.hide-nav {
	opacity: 0;
}

.hide-nav:hover {
	opacity: 100;
}

/*End nav icon hover states*/
/*End Navbars*/

/*Dashboard-Search*/

#dashboard {
	background-color: #33cc66;
	height: 8vh;
	margin-bottom: 2%;
	padding: 0 2% 0 2%;
	border-radius: 5px;
}

#search {
	height: 28px;
	background-color: white;
}

#search-bar {
	border: none;
	height: 26px;
	background-color: white;
}

#search-icon {
	background-color: white;
	height: 26px;
	margin-top: 5px;
	margin-right: 5px;
}

/*End Dashboard/Search*/

/*Main Body*/

#body-background {
	padding: 1% 1% 1% 1%;
	border-radius: 5px;
	background-image: linear-gradient(#f6f6f6, white, white, white, white, white);
}

#container {
	margin: 0 auto;
	background-color: white;
	border: 1px solid #eeeeee;
}

#left-column {
	border-right: solid 1px #eeeeee;
}

#right-column {
	padding: 0 5% 0 5%;
}

#div-sect {
	width: 80%;
	margin: 0 auto;
	height: auto;
}

/*End Main Body*/

/*Announcements*/

#announcements {
	background: white;
	font-size: 0.9rem;
	border-top: solid 1px #eeeeee;
}

#announcements-main-text {
	padding: 1% 1% 1% 1%;
	height: 100%;
	color: #fe7f13;
	border-left: solid 1px #eeeeee;
	border-right: solid 1px #eeeeee;
}

#announcement-p {
	padding: 1% 2% 1% 2%;
	border-right: solid 1px #eeeeee;
	overflow: hidden;
}

#left-btns {
	border-right: solid 1px #eeeeee;
	padding: 1% 0 1% 0;
}

.announce-button {
	border-radius: 5px;
	height: 20px;
	padding: 0 2px 0 2px;
}

/*Tasks*/

#top-bar {
	/*Heading and settings icon*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2% 0 2%;
}

.task-line {
	/*Numbers, text and icons*/
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3% 2% 3% 2%;
	border-bottom: solid 1px #eeeeee;
}

.numbers {
	/* Green markers and numbers*/
	width: 15px;
	height: 15px;
	border-radius: 15px;
	padding: 13px 15px 17px 15px;
	background-color: #33cc66;
}

.task-details {
	/*Text and icons*/
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.person-box {
	/*Icons*/
	border: solid 1px #eeeeee;
	width: 55px;
	height: auto;
	padding: 2px 4px 2px 4px;
}

/*Task hover states*/
.person-blue {
	opacity: 100;
}

.person-grey {
	opacity: 0;
}

.task-line:hover .blue-text {
	color: #cccccc;
	transition: 0.7s ease;
}
.task-line:hover .numbers {
	background-color: #cccccc;
	transition: 0.7s ease;
}

.task-line:hover .person-grey {
	opacity: 100;
	transition: 0.7s ease;
}

.task-line:hover .person-blue {
	opacity: 0;
	transition: 0.7s ease;
}

/*End task hover states*/
/*End tasks*/

/* Recommendations*/

#div-reco {
}

.reco-line {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2% 0 2%;
}

#top-bar-reco {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2% 0 2%;
}

.reco-details {
	width: 90%;
}

.reco-line a {
	text-decoration: none;
}

.reco-line:hover {
	color: black;
	transition: 0.7s ease;
}

/*Analytics*/

#col-color {
	background: white;
}

#analytics {
	padding: 0 6% 0 6%;
}

.right-col-divider {
	padding: 0 3% 0 3%;
}

#checkboxes {
	width: 100%;
	padding: 0 10% 0 10%;
}

.sm-text {
	padding: 1px 8px 1px 8px;
	border-radius: 3px;
	font-size: 0.9rem;
}

#fb {
	background-color: #114570;
}

#tw {
	background-color: #2298f4;
}

#sq {
	background-color: #3a599b;
}

#gl {
	background-color: #33cc66;
}

/*End Analytics*/

/*Customer Support*/

#customer {
	border-top: solid 1px #eeeeee;
	margin: 2vh 0 0 0;
	padding: 8% 5% 5% 5%;
}

.cust-border {
	border: solid 1px #eeeeee;
	height: 185px;
	width: 210px;
}

.banner-img {
	position: absolute;
	top: -20%;
}

.banner-text {
	position: absolute;
	min-width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -155%);
	text-align: center;
}

.customer-head {
	font-size: 1.3rem;
	line-height: 15px;
}

.customer-text {
	font-size: 0.8rem;
}

.customer-graphs {
	position: relative;
	width: 90%;
	border: solid 1px #eeeeee;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0%);
}

/*End Customer Support*/

/*Did You*/

#know-sect {
	width: 100%;
	padding: 2% 2% 2% 2%;
	border-top: solid 1px #eeeeee;
	background-color: #fefefe;
}

#did-you {
	margin: 0 auto;
	width: 94%;
	height: auto;
	background: #2498f4;
	padding: 6% 10% 6% 10%;
}

#know-text {
	color: white;
	font-size: 0.9rem;
}

.white-circle {
	height: 40px;
	width: 40px;
	background-color: #fefefe;
	border-radius: 50%;
	display: inline-block;
}

#circle-1 {
	position: absolute;
	top: 90%;
	right: 0%;
	transform: translate(-30%, -90%);
}

#circle-2 {
	position: absolute;
	top: 90%;
	left: 0%;
	transform: translate(30%, -90%);
}

.move-left {
	transform: translate(150%, 60%);
}

.move-right {
	transform: translate(70%, 60%) rotate(180deg);
}

/*End Did You*/

/*Img Bar*/

#img-bar {
	height: auto;
	background-color: #2498f4;
	padding: 2% 2% 2% 2%;
	margin: 0 0 0 0;
}

#img-box-1 {
	padding: 5px 5px 5px 5px;
	height: 171px;
	width: 280px;
	min-width: 280px;
	background-image: url('../img/Application-Dashboard_03.png');
	text-align: right;
	overflow: visible;
}

#img-text-1 {
	margin: 5px 5px 5px 5px;
	position: relative;
	top: 25%;
	right: 2%;
}

.img-text-1-head {
	color: #33cc66;
	font-size: 1.3rem;
}

.img-text-1-p {
	font-size: 0.85rem;
}

#img-box-2 {
	padding: 5px 5px 5px 5px;
	height: 171px;
	width: 280px;
	min-width: 280px;
	background-image: url('../img/Application-Dashboard_05.png');
	text-align: center;
}

#img-text-2 {
	width: auto;
	position: relative;
	background-color: #33cc66;
	padding: 3px 20px 3px 20px;
}

#img-box-3 {
	padding: 5px 5px 5px 5px;
	height: 171px;
	width: 280px;
	min-width: 280px;
	background-image: url('../img/Application-Dashboard_07.png');
	text-align: left;
}

#img-text-3 {
	margin: 5px 5px 5px 5px;
	position: relative;
	top: 25%;
	left: 2%;
}

.img-text-3-head {
	color: #fe7f13;
	font-size: 1.3rem;
}

.expand:hover {
	scale: 1.1;
	transition: 0.5s ease;
}

/*End Img Bar*/

/*Footer*/

#footer {
	height: 2vh;
	background-color: dodgerblue;
}

/*End Footer*/

/**/
/**/
/**/

/* Generated by http://css.spritegen.com CSS Sprite Generator */

.spritesblue-5,
.spritesgreen-5,
.spritesblue-1,
.spritesblue-2,
.spritesblue-3,
.spritesblue-4,
.spritesblue-6,
.spritesgreen-1,
.spritesgreen-2,
.spritesgreen-3,
.spritesgreen-4,
.spritesgreen-6,
.spritesinfo,
.spritespaper-icon,
.spritesleft-arrow-btn,
.spritesperson-blue,
.spritesperson-grey,
.spritesidea-icon,
.spritesarrow-down,
.spritesleft-arrow {
	display: inline-block;
	background: url('../img/sprites/sprite-sheet.png') no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	text-align: left;
}

.spritesblue-5 {
	background-position: -2px -0px;
	width: 66px;
	height: 89px;
}
.spritesgreen-5 {
	background-position: -2px -91px;
	width: 66px;
	height: 89px;
}
.spritesblue-1 {
	background-position: -2px -182px;
	width: 65px;
	height: 89px;
}
.spritesblue-2 {
	background-position: -2px -273px;
	width: 65px;
	height: 89px;
}
.spritesblue-3 {
	background-position: -2px -364px;
	width: 65px;
	height: 89px;
}
.spritesblue-4 {
	background-position: -2px -455px;
	width: 65px;
	height: 89px;
}
.spritesblue-6 {
	background-position: -2px -546px;
	width: 65px;
	height: 89px;
}
.spritesgreen-1 {
	background-position: -2px -637px;
	width: 65px;
	height: 89px;
}
.spritesgreen-2 {
	background-position: -2px -728px;
	width: 65px;
	height: 89px;
}
.spritesgreen-3 {
	background-position: -2px -819px;
	width: 65px;
	height: 89px;
}
.spritesgreen-4 {
	background-position: -2px -910px;
	width: 65px;
	height: 89px;
}
.spritesgreen-6 {
	background-position: -2px -1001px;
	width: 65px;
	height: 89px;
}
.spritesinfo {
	background-position: -2px -1092px;
	width: 28px;
	height: 29px;
}
.spritespaper-icon {
	background-position: -32px -1092px;
	width: 24px;
	height: 23px;
}
.spritesleft-arrow-btn {
	background-position: -32px -1117px;
	width: 22px;
	height: 22px;
}
.spritesperson-blue {
	background-position: -2px -1123px;
	width: 20px;
	height: 21px;
}
.spritesperson-grey {
	background-position: -24px -1143px;
	width: 20px;
	height: 21px;
}
.spritesidea-icon {
	background-position: -46px -1141px;
	width: 18px;
	height: 23px;
}
.spritesarrow-down {
	background-position: -2px -1146px;
	width: 14px;
	height: 10px;
}
.spritesleft-arrow {
	background-position: -2px -1158px;
	width: 12px;
	height: 18px;
}

/* Generated by http://css.spritegen.com CSS Sprite Generator */

.img-footer,
.settings,
.search-icon,
.checklist,
.left-arrow-btn,
.settings-grey,
.img-4sq,
.fb,
.grey-4sq,
.grey-fb,
.grey-tw,
.grey-yt,
.tw,
.yt {
	display: inline-block;
	background: url('../img/sprites/sprite-sheet2.png') no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	text-align: left;
}

.img-footer {
	background-position: -2px -0px;
	width: 30px;
	height: 30px;
}
.settings {
	background-position: -2px -32px;
	width: 28px;
	height: 29px;
}
.search-icon {
	background-position: -2px -63px;
	width: 24px;
	height: 24px;
}
.checklist {
	background-position: -2px -89px;
	width: 22px;
	height: 20px;
}
.left-arrow-btn {
	background-position: -2px -111px;
	width: 22px;
	height: 22px;
}
.settings-grey {
	background-position: -2px -135px;
	width: 20px;
	height: 20px;
}
.img-4sq {
	background-position: -2px -157px;
	width: 16px;
	height: 16px;
}
.fb {
	background-position: -2px -175px;
	width: 16px;
	height: 16px;
}
.grey-4sq {
	background-position: -2px -193px;
	width: 16px;
	height: 16px;
}
.grey-fb {
	background-position: -2px -211px;
	width: 16px;
	height: 16px;
}
.grey-tw {
	background-position: -2px -229px;
	width: 16px;
	height: 16px;
}
.grey-yt {
	background-position: -2px -247px;
	width: 16px;
	height: 16px;
}
.tw {
	background-position: -2px -265px;
	width: 16px;
	height: 16px;
}
.yt {
	background-position: -2px -283px;
	width: 16px;
	height: 16px;
}
